.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffcc00; 
  padding: 10px 20px;
  color: #343a40; 
}

.header h1 {
  margin: 0;
  font-family: "Arial", sans-serif; 
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header li {
  margin: 0 15px;
}

.header a {
  color: #343a40; /* Dark text for links */
  text-decoration: none;
  font-size: 16px;
}

.header a:hover {
  text-decoration: underline;
}