.container {
  width: 100%;
  max-width: 1200px; /* Maximum width of the container */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add space inside the container */
  box-sizing: border-box; /* Include padding in the width calculation */
  background-color: rgb(186, 194, 187);
}
